.back {
  display: none;
  position: absolute;
}
.card-img-top {
  object-fit: cover !important;
  height: 300px;
}
.card:hover .back {
  display: block;
}
.price {
  color: #d17600;
  /* opacity: 0.8; */
}

.navbar {
  box-shadow: 0px 15px 10px -15px #eec084;
}
.container {
  margin-top: 20px;
}
.btn {
  background-color: #eec084 !important;
}
.form-select {
  width: 200px !important;
}
