.back {
    display: none;
    position: absolute;
    /* height: 75%; */
    /* z-index: 9999; */
}
/* .card-img-top{
    height: 68%;
} */
.card:hover .back {
    display: block;
    
   
    
  
  
  
}
.price{
    opacity: 0.8;
}

.navbar{

    box-shadow: 0px 15px 10px -15px #aca7a7; 
}
.container{
    margin-top: 20px;
}
/* .card{
    height: 450px !important;
} */
